body {
  margin: auto;
  width: 100%;
  max-width: 1500px;
}
nav .link {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  text-decoration: none !important;
}
#nav {
  margin: auto;
  text-align: center;
  display: inline-block;
  height: 115px;
  background-color: #542315;
  width: 100%;
  padding-top: 60px;
}
span {
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
}
header {
  background-image: url("../img/banner1.png");
  height: 225px;
  background-repeat: no-repeat;
  background-size: 1500px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 300;
  padding-top: 50px;
  text-align: left;
}
header img {
  max-width: 200px;
  position: absolute;
  left: 250px;
  top: 180px;
  z-index: 1;
}
main {
  padding: 15px 50px 120px 300px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.map-container {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-top: 20%;
  border: 0;
  font-size: 100%;

}

iframe {
  width: 100%;
  height: 300px;
}

footer {
  height: 75px;
  background-color: #542315;
  width: 100%;
  text-align: center;
  clear: both;
}


#yelp {
  width: 100px;
}
#facebook {
  width: 50px;
  padding-right: 10px;
}
#twitter {
  width: 50px;
  padding-right: 10px;
}
